<div class="inv-img">
    {% if activity.coverPhoto %}
        <img src="{{ activity.coverPhoto|imagine_filter('activity_cover_photo')  }}" alt="{{ getAlt(activity.altCoverPhoto) }}" />
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-2 hidden-xs">
        <img src="{{ getResourcesPath('img_activityType') ~ activity.type ~ '.png' }}"
            alt="{{ getAlt('') }}"
            title="{{ activity.type|enum_label('MMC\\FestivalBundle\\Model\\ActivityType', 'ActivityType', false) }}"
            class="resize-img-activity"
        />
    </div>
    <div class="cols-xs-12 col-sm-10">
        <h2 class="large-art-title">
            {{ activity.title }}
        </h2>
        </br>
        <div class="art-detail">
            {{ formatDays(activity, true) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 hidden-xs">
            <img src="{{ getResourcesPath('img_univers') ~ activity.univers ~ '.png' }}"
                alt="{{ getAlt('') }}"
                title="{{ activity.univers|univers_label }}"
                class="resize-img-activity"
            />
    </div>
    <div class="cols-xs-12 col-sm-10">
        {{ activity.descriptif|raw }}
    </div>
</div>

<div class="row">
    <div class="col-sm-2 hidden-xs">
            <img src="{{ getResourcesPath('img_partager') }}" alt="{{ getAlt('') }}" class="resize-img-activity" />
    </div>
    <div class="cols-xs-12 col-sm-10">
        <h2 class="art-title">
            {{ 'shareInformationToSocialNetwork'|trans({}, 'activity') }}
        </h2>
        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <iframe
                src="https://www.facebook.com/plugins/share_button.php?href={{ url('mmc_festival_activity_view', { id: activity.card.id }) }}&layout=button&size=large&mobile_iframe=true&width=89&height=28&appId"
                width="89"
                height="28"
                style="border:none;overflow:hidden"
                scrolling="no"
                frameborder="0"
                allowTransparency="true">
            </iframe>
        </p>
    </div>
</div>

{% if activity.validParticipations|length %}
    <div class="row">
        <div class="col-sm-2 hidden-xs"></div>
        <div class="cols-xs-12 col-sm-10">
            <h2 class="art-title">
                {{ 'withParticipationOf'|trans({}, 'activity') }}
            </h2>
            <div class="participations row">
                {% for participant in activity.validParticipations %}
                    <div class="col-xs-3">
                        {% include 'MMCCardBundle:Card:card_system.html.twig' with {
                                card: participant,
                                template: 'MMCFestivalBundle:Guest:participate.html.twig',
                                itemName: 'guest',
                                itemClass: 'Guest'
                            } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
