<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p><label>{{ 'form_lastname'|trans({}, 'exponent') }}</label> : {{contact.firstname}}</p>
        <p><label>{{ 'form_firstname'|trans({}, 'exponent') }}</label> : {{contact.lastname}}</p>
        <p><label>{{ 'form_email'|trans({}, 'exponent') }}</label> : {{contact.email}}</p>
        <p><label>{{ 'form_phone'|trans({}, 'exponent') }}</label> : {{contact.phone}}</p>
        <p><label>{{ 'form_social_reason'|trans({}, 'exponent') }}</label> : {{contact.socialReason}}</p>
        <p><label>{{ 'form_type_products'|trans({}, 'exponent') }}</label> : {{contact.typeProducts}}</p>
        <p><label>{{ 'form_message'|trans({}, 'exponent') }}</label> : {{contact.message}}</p>
    </body>
</html>