{% extends "MMCFestivalBundle:Guest:layout.html.twig" %}

{% block content %}
    {{ parent() }}

    {% if not response.isFake %}

        {% block noFake %}
            {% if response.nbResults != null %}
                <div id="invites" class="row">
                    {% for guest in response.list %}
                        <div class="col-sm-6 col-md-4">
                            {% include 'MMCCardBundle:Card:card_system.html.twig' with {
                                card: guest,
                                template: 'MMCFestivalBundle:Guest:single_item.html.twig',
                                itemName: 'guest',
                                itemClass: 'Guest'
                            } %}
                        </div>
                    {% endfor %}


                    {% if response.currentPage < response.nbPages %}
                        {% set routeName = app.request.get('_route') %}
                        {% set params = app.request.get('_route_params')|merge(app.request.query) %}
                        <div class="location-for-next-page text-center">
                            <a href="{{ path(routeName, params|merge({page: response.currentPage+1})) }}" class="btn btn-festival see-more">
                                {{ 'see-next'|trans({}, 'guest') }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    {% if response.request.univers %}
                        {{ 'no_result.univers'|trans({
                            '%univers%' : response.request.univers|univers_label
                        }, 'guest')}}
                    {% elseif response.request.thisFriday or response.request.thisSaturday or response.request.thisSunday %}
                        {{ 'no_result.days'|trans({
                            '%day%' : formatDays(response.request, true)|lower
                        }, 'guest')}}
                    {% elseif response.request.guestOfHonor %}
                        {{ 'no_result.guestOfHonor'|trans({}, 'guest')}}
                    {% else %}
                        {{ 'no_result'|trans({}, 'guest')}}
                    {% endif %}

                    <br />
                    {{ 'no_result.continue'|trans({}, 'guest')}}

                </div>
            {% endif %}
        {% endblock noFake %}

    {% else %}

        {% block fake %}
            {{ renderCarousel('guest') }}
        {% endblock fake %}

    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ getResourcesPath('js_guest') }}" type="text/javascript"></script>
{% endblock javascripts %}
